

    <%- include('./partials/top-menu') %>
    
    <section class="wrapper">
        <div class="form login">
            <header>Login</header>
            <form id="commentForm" action="" method="post">
                <input type="text" name="email" id="email" placeholder="Email address" required />
                <input type="password" name="password" id="password" placeholder="Password" required />
                <a href="#">Forgot password?</a>
                <input type="submit" value="Login" />
              </form>
          </div>
      </div>
    </section>
    <script src="/js/validate.js"></script>

