body{
    margin: 0;
    padding: 0; 
}
#navbar {
    display: flex;
    flex-direction: column;
    color: #fff; 
    position: sticky;
   
}


.firstline{
    position: relative;
    background-color: white;
    height: 42px;
    display: flex;
    align-items: center;
}

.otherlinks{
    text-decoration: none;
}

.nav-links {
    
    display: flex;
    align-items: center;
    background-color: white;
    padding-left: 15px;
    justify-content: center;
    
}
.nav-links a{
    text-align: center;
    width: 120px;
    justify-content: center;
    text-decoration: none;
    font-size:17px;
    font-family: sans-serif;
    color:rgb(35, 34, 34);
}

#logo img {
    max-height: 61px; 
    padding-left: 10px;
}

.secondline{
    display: flex;
    height: 60px;
    background-color: white;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.otherlinks{
    position: absolute;
    display: flex;
}

.otherlinks a{
    text-decoration: none;
    color: grey;
    align-items: center;
    margin: 10px;
}

.second{
    width: fit-content;
    height: auto;
    padding: 10px;
    display: flex;
    padding-bottom: 30px;
    overflow: hidden;


}

.second-first{
    
    
    position: relative;

}
.departure{
    position: relative;
}

.departure2{
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
}

.departure2 img{
    width: 320px;
    height: 195px;
}

.departure img{
    width: 580px;
    height: 405px;
}

.overlay {
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    
}

.texttcontainer p{
    color: white;
    font-family: Verdana;
    font-size:20px;
}

.second-second{
    display:flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;

}

.overlay3 {
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    
}

.separator {
    width: 10px;
    height: 50px; 
    background-color: #249991; 
    
}

.third{
    position: relative;
    padding-left: 10px;
}

.heading3{
    height: 50px;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}
.heading3 h2{
    color: #249991;
    font-family: Verdana;
    margin-left: 20px;
}
.elements{
    width: 300px;
}

.elements img{
    width: 300px;
    height: 180px;
}

.third-content{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.elements p{
    color: #249991;
    font-family: Verdana;
    font-size:12px;
    margin-top: 0px;
    font-weight: bold;
}
.elements span a{
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 20spx;
}

.button{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.button button{
    width: 200px;
    height: 40px;
    background-color: #249991;
    color: #fff;
    text-decoration: none;
    border: none;
    font-size: 17px;
}

.fourth-first{
    position: relative;

}
.fourth{
    padding-left: 10px;
    padding-top: 10px;
    background-color: black;
    padding-bottom: 20px;
}

.departure4{
    position: relative;
}
.content4{
    width:max-content;
    height: auto;
    display: flex;
}

.insidecontent4{
    display: flex;
    width:400px;
}
.fourth-second{
    padding-left: 20px;
}

.insidecontent4 img{
    width:150px;
    height: 80px;
    margin-right: 10px;
}
.insidecontent4 p{
    font-weight: bold;
    color:#249991;
    font-size: 20px;
}

.departure4 img{
    width: 400px;
    height: 400px;
}
.lineseparator{
    
        width: 380px;
        height: 1px; 
        background-color: grey; 
        margin-top: 10px;
        margin-bottom: 10px;
        
}
.fifth{
    display: flex;
}

.fifth-content{
    width: 400px;
    height: 400px;
    padding-left: 10px;
    padding-top: 20px;
}

.fifth-content img{
    width:400px;
    height:250px;
}
.fifth-content p{
    font-family: Verdana;
    font-weight: bold;
    font-size: 16px;
}

.heading5{
    height: 50px;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}
.heading5 h2{
    color: red;
    font-family: Verdana;
    font-size: medium;
    margin-left: 20px;
}
.heading5 a{
    margin-left: 140px;
}

.content-sixth{
    width:400px;

}

.sixth{
    display: flex;
    padding-left:10px;
    gap:10px;
    padding-bottom: 30px;

}

.content-sixth p{
    color: grey;
    margin-bottom: 10px;
}
.content-sixth a{
    color: black;
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
    font-family: Verdana;
}

.seventh{
    padding-left: 10px;
    padding-top: 30px;
}
.seventh-first{
    width: 300px;
}

.insidecontent7{
    display: flex;
    width:315px;
    margin-bottom: 10px;
}

.insidecontent7 img{
    width:120px;
    height: 100px;
    margin-right: 10px;
}
.insidecontent7 p{
    font-weight: bold;
    color:#249991;
    font-size: 17px;
}
.seventh{
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
}

.content7{
    width: 200px;
    padding-left: 40px;
}

.content7 p{
    color: grey;
    margin-bottom: 10px;
}
.content7 a{
    color: black;
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
    font-family: Verdana;
}
.seventh-second{
    padding-top: 60px;
    padding-right: 40px;
}
.seventh-fourth{
    padding-top: 60px;
}