

    <%- include('./partials/top-menu') %>
  
    <section class="wrapper">
      <div class="form signup">
        <header>Signup</header>
        <form id="commentForm" action="" method="post">
            <input type="text" name="name" id="name" placeholder="Full name" />
            <input type="email" name="email" id="email" placeholder="Email address" />
            <input type="password" name="password" id="password" placeholder="Password" />
            <div class="checkbox">
              <input type="checkbox" id="signupCheck" name="signupCheck" />
              <label for="signupCheck">I accept all terms & conditions</label>
            </div>
            <input type="submit" value="Signup" />
          </form>

      </div>
    </section>
